{% extends 'layouts/base.html' %}

{% block content %}

<h1>Регистрация</h1>

<form>
    <div class="mb-3">
        <label for="InputLogin" class="form-label">Логин</label>
        <input type="password" class="form-control" id="InputLogin">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1"
               aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Мы никому не сообщаем ваш email</div>
    </div>
    <div class="mb-3">
        <label for="InputNickName" class="form-label">Никнейм</label>
        <input type="password" class="form-control" id="InputNickName">
    </div>
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Введите пароль</label>
        <input type="password" class="form-control" id="InputPassword">
    </div>
    <div class="mb-3">
        <label for="RepeatPassword" class="form-label">Повторите пароль</label>
        <input type="password" class="form-control" id="RepeatPassword">
    </div>
    <div class="mb-3">
        <label>Фото профиля</label>
        <img src="../static/img/avatar.webp" height="150" width="150">
        <button type="submit" class="btn btn-primary">Выбрать фото</button>
    </div>
    <button type="submit" class="btn btn-primary">Подтвердить</button>
</form>


{% endblock %}